
<table>
    <tr>
      <td class="mat-cell" *ngFor="let i of day">
        <figure>
          <h3>{{i.dt*1000 | date:'EE'}}</h3>
          <img src="http://openweathermap.org/img/wn/{{i.weather[0].icon}}@2x.png">
          <figcaption>
            {{i.temp.day - 273.15 | number:'1.0-0'}}<sup>o</sup>C
          </figcaption>
        </figure>
      </td>
    </tr>
</table>
