
<table>
    <tr>
      <td class="mat-cell" *ngFor="let h of hour | slice:0:11; let i=index">
        <figure>
          <h3>{{h.dt*1000 | date:'hh'}}</h3>
          <img src="http://openweathermap.org/img/wn/{{h.weather[0].icon}}@2x.png">
          <figcaption>
            {{h.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C
          </figcaption>
        </figure>
      </td>
    </tr>
</table>
