<div id='container'>
  <h1>Weather App</h1>
  <app-search-bar></app-search-bar>
  <div *ngIf='!loc' id='search'>
    <h3>Enter location to find weather info.</h3>
  </div>
  <mat-tab-group *ngIf='loc'>
    <mat-tab label="Current Weather">
      <app-weather-display></app-weather-display>
    </mat-tab>
    <mat-tab label="Daily">
      <app-daily></app-daily>
    </mat-tab>
    <mat-tab label="Hourly">
      <app-hourly></app-hourly>
    </mat-tab>
    <mat-tab label="Forecast">
      <app-forecast></app-forecast>
    </mat-tab>
    <mat-tab label="UV Index">
      <app-uv></app-uv>
    </mat-tab>
  </mat-tab-group>
</div>
