.name{
    text-transform: capitalize;
}
.content{
    display: flex;
}
mat-card{
    flex-direction: column;
    width: 30%;
   margin: 5px;
}
mat-card:hover{
    cursor: pointer;
}
h4{
    color: grey;
}